
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #141416;
  font-family: 'Inter';
  margin: 0 !important;
}
.assistantsBox {
  box-shadow: 0px 0px 1px 0px #FFFFFF26 inset;

box-shadow: 0px 2px 30px 0px #00000038;

box-shadow: 0px 0px 15px 0px #0000000F;

}